.about{
	font-size: 100%;
	padding-bottom: 6em;
}
.about .about__title{
	color: #000;
	font-size: 3em;
	text-align: center;
	font-family: "Bebas Neue Bold";
	margin-top: 0.41em;
}
.about .about__text{
	margin-top: 2em;
}
.about .about__text p{
	font-size: 1.56em;
	font-family: "Bebas Neue Bold";
	margin-bottom: 0.8em;
	line-height: 1.4em;
	letter-spacing: 0.01em;
}

@media screen and (max-width:992px){
	.about{
	font-size: 90%;
}
}
@media screen and (max-width:768px){
	.about{
	font-size: 80%;
}
}
@media screen and (max-width:576px){
	.about{
	font-size: 70%;
}
}