.design{
	font-family: "Bebas Neue Regular";
	font-weight: normal;
margin-bottom:200px;
font-size: 100%;

}
.design .design__title{
	font-family: "Bebas Neue Bold";
	background: #000;
	color: #fff;
	font-size: 3.125em;
	padding: 0.1em 0.4em;
	text-align: center;
	display: inline-block;
	letter-spacing: 0.06em;
}
.design .application{
	font-family: "Bebas Neue Regular";
	color: #000;
	font-size: 2.5em;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 0.75em;
}
.design .design__input{
	font-family: "Bebas Neue Bold";
	display: block;
	width:100%;
	margin-bottom: 1.5em;
	padding: 10px;
	border:1px solid #000;
  font-size: 1.25em;
  color:#000;
  letter-spacing: 0.05em;
  outline:none;	
}
.design .design__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1em;
  color:#707070;
  letter-spacing: 0.06em;
}
.design .design__input::-moz-placeholder { /* Firefox 19+ */
    font-size: 1em;
  color:#707070;
    letter-spacing: 0.06em;
}
.design .design__input:-ms-input-placeholder { /* IE 10+ */
    font-size: 1em;
  color:#707070;
    letter-spacing: 0.06em;
}
.design .design__input:-moz-placeholder { /* Firefox 18- */
   font-size: 1em;
  color:#707070;
  letter-spacing: 0.06em;

}
.design .design__what{
	width:100%;
	font-family: "Bebas Neue Bold";
	margin-bottom: 1.5em;
	padding: 10px;
	border:1px solid #000;
	padding: 10px;
	position: relative;
	cursor: pointer;
	font-size: 1.25em;
}
.design .design__what span{
	color: #707070;
	letter-spacing: 0.05em;
}
.design .design__what img{
	position: absolute;
	top:50%;
	right:15px;
	transform:translateY(-50%);
}
.design .design__what ul{
	font-family: "Bebas Neue Bold";
	width:100%;
	position: absolute;
	top:100%;
	left: 0;
	background: #c6c6c6;
	color:#000;
	display: none;
	z-index:100;
	font-size: 1.1em;
}
.design .design__what ul li{
	padding: 7px 10px;
	letter-spacing: 0.04em;
	background: #c6c6c6;
	transition: .3s;
	cursor:pointer;
}
.design .design__what ul li:hover{
background: #fff;
transition: .3s;
}
/*Чехлы*/
.material a{
	font-family: "Bebas Neue Bold";
	font-size: 0.81em;
	color: #000;
	text-decoration: underline;
	margin-left: 0.53em;
}
 .design__what:nth-child(2){
	margin-bottom: 10px;
}
.design__block.case  .design__what:nth-child(2){
margin-bottom: 1.5em;
}
.design__block.case  .design__what:nth-child(3){
margin-bottom: 10px;
}
/*Комментарий и ниже*/
.comment{
	margin-top: 20px;
}
.comment textarea{
	font-family: "Bebas Neue Bold";
	width:100%;
	border:1px solid #000;
	padding: 10px;
	height: 85px;
	resize:none;

	color: #000;
	font-size: 1.25em;
	letter-spacing: 0.05em;
	margin-top: 1em;
}
.comment p{
	width:100%;
	margin-top: 0.76em;
	font-family: "Bebas Neue Bold";
	color: #707070;
	font-size:0.81em;
	letter-spacing: 0.07em;
	text-align: center;
	line-height: 1.15em;

}
.comment input[type="file"] {
    display: none;
}
.comment .label__wrapper{
	text-align: center;
	margin-top: 1.6em;
	
}
.comment .custom-file-upload{
	font-family: "Bebas Neue Bold";
    border: none;
    cursor: pointer;
    font-size: 1.4em;
    letter-spacing: 0.08em;
    background: #c43232;
    color: #fff;
    padding: 0.13em 0.20em;

}
.comment .custom-file-upload i{
	font-size:1em;
	margin-right: 0.5em; 
}
.comment .design__send{
	display: block;
	color: #fff;
	background: #000;
	font-size: 1.8em;
	letter-spacing: 0.03em;
	outline: none;
	border:none;
	padding: 0.13em 0.5em;
	margin: 0 auto;
	margin-top: 0.5em;
}
/*Where*/
.where{
	font-family: "Bebas Neue Bold";
	width:100%;
	margin-top: 1.7em;
}
.where h2{
	text-align: center;
	font-size: 1.56em;
	letter-spacing: 0.06em;
	color: #707070;
}
.where .main__wrapper__where{
	display:flex;
	justify-content: space-around;
	margin-top: 10px;
}
.where .word__wrapper{
	padding: 10px;
	font-size: 1.25em;
	display: flex;
	align-items: center;
	cursor:pointer;
	margin: 0 auto;
}
.where .div-checkbox{
	background: #fff;
	width:25px;
	height: 25px;
	border:2px solid #000;
	transition:.3s;
}
.where .div-checkbox.active{
	background: #000;
	transition:.3s;
}
.where span{
margin-left: 10px;
letter-spacing: 0.05em;
}


/*Для картинок*/
.design__img{
	padding-top: 70px;
	display: flex;
	justify-content: space-around;
}
.design__img.tshirt,.design__img.switshot{
	flex-direction: column;
	text-align: center;
}
.design__img.tshirt img,.design__img.switshot div{
margin-bottom: 20px;
}
.design__img.case div{
	text-align: center;
	
}
.design__img.case img{
	max-width: 274px;
	width:80%;
	height: auto;
}
.design__img.switshot img{
	max-width: 437px;
	width:100%;
	height: auto;
}
.design__img.tshirt img{
	max-width: 443px;
	width:100%;
	height: auto;
}
.design__img.cup img{
	max-width: 471px;
	width:100%;
	height: auto;
}
/*Скрытие блоков*/
/*.design__block, .design__img, {
	display: none;
}
*/
