@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/Bebas Neue/BebasNeueRegular.eot');
	src: local('../fonts/Bebas Neue/Bebas Neue Regular'), local('BebasNeueRegular'),
		url('../fonts/Bebas Neue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas Neue/BebasNeueRegular.woff') format('woff'),
		url('../fonts/Bebas Neue/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}