/*Footer*/
.footer{
	width:100%;
	background: #000;
	color:#fff;
	padding-top: 40px;
	padding-bottom: 35px;
}
.footer h4{
		font-size: 20px;
}
.footer .support-service{
	font-size: 16px;
	margin-bottom: 40px;

}
.footer .support-service h4, .footer .information h4{
	margin:0 auto;
	font-size: 20px;
	margin-bottom: 17px;
	letter-spacing: 1px;
}
.footer .support-service p, .footer .information ul li{
	margin-bottom: 12px;
	letter-spacing: 1px;
}
.footer .support-service .support-service__about{
	font-size: 14px;
	margin-bottom: 0;
	line-height: 20px;
}



.footer .information ul{
	display: block;
	list-style:none;
}
.footer .information h4, .footer .pay h4, .footer .delivery h4{
	letter-spacing: 2.7px;
}
.footer .information ul li a{
	font-size: 16px;
	color:#fff;
	text-decoration: none;
	letter-spacing: 1px;

}
.pay img{
margin-top: 17px;
}
.pay{
	text-align: center;
}
.footer .delivery h4,.footer .social h4{
	text-align: center;
	margin-bottom: 17px;
	
}
.footer .delivery__content{
	text-align: center;

}
.footer .delivery__content    img:first-child{
	margin-right: 10px;
}
.footer .social__content{
	display:flex;
	justify-content:space-around;
}
.footer .social__content i{
	font-size: 30px;
	border-radius:10px;
}

.footer .social h4{
	letter-spacing: 1px;
}

/*Subfooter*/
.sub-footer{
	width:100%;
	background: #1f1f1f;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.sub-footer__root{
	color: #888;
	letter-spacing: 1px;
	
}
.sub-footer__right a{
	font-size: inherit;
	color:#fff;
	margin-right: 15px;
	letter-spacing: 1px;
}

/*Media*/
@media screen and (max-width:992px){
	.footer .information{
		text-align: center;
		
	}
	.footer .pay{
		text-align: center;
	}
	.footer .pay img{
		margin-right: 10px;
	}	
	.footer .pay img:last-child{
		margin-right: 10px;
	}	
	.footer .delivery{
		text-align: center;
	}
	.footer .social__content{
	display:flex;
	justify-content:center;
}
.footer h4{
	font-size: 18px;
	display: block;
	margin-top: 4px;
	margin-right: 15px;
}
.footer .social{

	display: flex;
	justify-content:flex-end;
/*	align-items:center;*/
	flex-direction: row;
/*	margin-right: 20px;*/
}

.footer .social__content i{
	margin-left: 15px;
	font-size: 25px;
}
.footer .social__content i:first-shild{
	margin-left: 0px;
}
.footer .delivery__content{
	text-align: center;
	margin-left: -15px;

}
}
@media screen and (max-width:768px){


	.footer .delivery{
		display: flex;
		justify-content: flex-start;
		align-items: center;

	}
	.footer .delivery h4{
		font-size: 18px;
		margin-top: 10px;
	}
	.footer .social{
		margin-top: 10px;
	}
	.footer .delivery__content{
	margin-left: 0px;

}

}

@media screen and (max-width:515px){
	.sub-footer{
		font-size: 8.5px;
	}
@media screen and (max-width:376px){
	.sub-footer{
		font-size: 7.5px;
	}
}
@media screen and (max-width:349px){
	.sub-footer{
		font-size: 6.5px;
	}
	.sub-footer__right a{
	margin-right: 10px;

}	
}
@media screen and (max-width:576px){
.footer{
	padding-top: 20px;
	padding-bottom: 20px;
}
	.footer .support-service{
text-align: center;
font-size: 12px;
	margin-bottom: 20px;
}
.footer .support-service h4, .footer .information h4{
	font-size: 15px;
		margin-bottom: 14px;
	}
	.footer .information h4{
		margin-bottom: 8px;
	}
	.footer .support-service .support-service__about{
		font-size: 10px;
	}
.footer .support-service p, .footer .information ul li{
	margin-bottom: 4px;
}
.footer .information ul li a{
	font-size: 12px;
	}


.footer .social{
	display: flex;
	justify-content:center;
	flex-direction: row;
	margin-right: 20px;
}
.footer .delivery{
	flex-direction: column;
	justify-content: flex-end;
position: absolute;
right:17%;
top:-75px;


}

	.footer .delivery__content{
	text-align: center;
	margin-left: -15px;

}
.footer .social{
	margin-top: 40px;
}
.footer .pay h4{
	letter-spacing: 2px;
	font-size: 15px;
}
.pay img{
margin-top: 10px;
transform:scale(0.8);
}
.footer .delivery h4,.footer .social h4{
	margin-bottom: 10px;
	font-size: 13px;
	
}
.footer .social h4{
	letter-spacing: 1.5px;
}
.footer .delivery__content img{
margin-top: -5px;
transform:scale(0.8);

}
	.footer .social{
		margin-top: 10px;
	}
	.footer .social__content i{
		font-size: 20px;
	}





}
@media screen and (max-width:466px){
	.footer .delivery{
right:15%;


}
}
@media screen and (max-width:424px){
	.footer .delivery{
right:14%;


}
@media screen and (max-width:372px){
	.footer .delivery{
right:13%;


}
}
@media screen and (max-width:320px){
	.footer .delivery{
right:11%;


}
}




