
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
p,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
body {
	font-family: "Bebas Neue Regular";
	font-weight: normal;
	width: 100%;
	height: 100%;
	
}
.header{
		font-family: "Bebas Neue Regular";
	font-weight: normal;
	width:100%;
	padding-top: 8px;
	padding-bottom: 7px;
	font-size: 1.8em;
	background: #fff;
}
.container{
width: 100%;
max-width:1170px;
margin:0 auto;



}
.header .logo img{
	width:100%;
	max-width:224px;
	height: auto;
	cursor:pointer;
}
.header-menu{
	margin-left: 56px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header-menu li{
	margin-right: 39px;
}
.header-menu li:nth-child(5){
	margin-right: 0;
}
.header-menu li a{
	color: #000000;
letter-spacing: 2.34px;
-webkit-transition: border-bottom .3s;
transition: border-bottom .3s;
position: relative;
font-size: 1.05em;
-webkit-transition: .3s;
transition: .3s;


}
.header-menu li:last-child a{
	color:#DBDBDB;
}
.header-menu li a::after{
	content:"";
	display:block;
	width:0;
	height:3px;
	background:#000;
	-webkit-transition:width .3s;
	transition:width .3s;
	-webkit-transition: .3s;
	transition: .3s;
	position: absolute;
	left:0;
	bottom:-25px;
}
.header-menu li:last-child a::after{
	height:0;
}
.header-menu li a:hover::after{
	width:100%;
	-webkit-transition: width .3s;
	transition: width .3s;
}
.header-menu li a.active::after{
	width:100%;
	
}
.header-menu li a:hover .header-menu li a:after{
	width:100%;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s;
}
.header .basket{
	margin-left: 56px;
	cursor:pointer;
}
.header .basket i{
font-size:55px ;
cursor:pointer;
color: #000;

}

/*Media*/

@media screen and (max-width:1200px){
	.header .header-menu li a{
		font-size: 0.85em;
	}
	 .header .logo img{
		width:100%;
		max-width:180px;
		height:auto;
	}
	.header .basket i{
		font-size:45px ;
	}
	.header-menu li a::after{
		bottom:-20px;
	}
}
@media screen and (max-width:926px){
	.header .basket i{
		font-size:40px ;
	}

	.header .basket{
	margin-left: 20px;
}
.header-menu li{
	margin-right: 25px;
}
	.header-menu li a::after{
		bottom:-13px;
	}
}
@media screen and (max-width:800px){
		.header .logo img{
		width:100%;
		max-width:180px;
		min-width:130px;
		height:auto;
	}
	.header .basket i{
		font-size:35px ;
	}
	.header .header-menu li a{
		font-size: 0.75em;
		position: relative;
		top:-2px;
	}


}





.sidebar{
	width:250px;
	height: 100%;
	position: fixed;
	top:0;
	background: #000;
	-webkit-transition:left 0.4s;
	transition:left 0.4s;
	left:-250px;
	z-index:999;

}
.sidebar.active{
	left:0;
}


.sidebar ul li  {
	width:100%;
/*	position: relative;*/
	list-style: none;

}
.sidebar__close{

	position: absolute;
	top:0;
	right:0;
	height:65px;
	width:25%;
	color:#fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 23px;
	cursor:pointer;
	background: #101010;

}
.sidebar ul li a{
	color: #fff;
	padding: 35px 25px;
	font-size:27px;
	display:block;
	letter-spacing: 2px;
	-webkit-transition:  0.3s ;
	transition:  0.3s ;
	-webkit-transition: .4s;
	transition: .4s;
}

.sidebar ul li a:hover{
	padding-left: 40px;
	-webkit-transition: .4s ;
	transition: .4s ;
}
.burger i{
	font-size: 30px;
}
.burger{
	position: absolute;
	top:30px;
	left:10px;
	display: none;
	cursor:pointer;
}

.newbasket{
	font-size: 30px;
	display: none;
	position: absolute;
	right:10px;
	top:20px;
	border:1px solid #000;
	color:#000;
	padding: 7px 9px 7px 7px;
	cursor:pointer;
	-webkit-transition: 0.3s ;
	transition: 0.3s ;
}
.newbasket:hover{
	background: #000;
	color:#fff;
	-webkit-transition: 0.3s ;
	transition: 0.3s ;
}
/*Burger panel*/
.burger__panel{
	position: relative;
	height: 100px;
	display: none;
}



/*Корзина*/
.background__cover{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition:.5s;
	transition:.5s;
	z-index:-1;
	opacity: 0;
}
.background__cover.active{
	opacity: 1;
	z-index:100;
	-webkit-transition:.5s;
	transition:.5s;
}
.basket__aside{
	font-family: "Bebas Neue Bold";
	font-weight: normal;
	width:400px;
	background: #fff;
	height:100%;
	position: absolute;
	top:0;
	right:0px;
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
	padding:0;
	-webkit-transition:.6s;
	transition:.6s;
	opacity:0;
	font-size: 100%;
}
.basket__aside.active{
	-webkit-transform:translateX(0%);
	transform:translateX(0%);
	opacity:1;
	-webkit-transition:.6s;
	transition:.6s;
}
.basket__aside .word__wrapper{
	padding-top: 1.56em;
	padding-bottom: 1.56em;
	border-bottom:1px solid #000;
}
.basket__aside .word__basket{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 15px;
}
.basket__aside .word__basket h2{
	font-size: 2.5em;
	letter-spacing: 0.05em;
}
.basket__aside .close img{
	width:100%;
	max-width:20px;
	height: auto;
	display: block;
}
.basket__aside  .close{
	display: inline-block;
	background: #000;
	color: #fff;
	margin-left: 50px;
	padding: 6px;
	cursor:pointer;
}
/*Ячейка продукта*/
.basket__aside .product__basket{
	border-bottom: 1px solid #000;
	padding:0.875em 0.56em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-transition:all .6s;
	transition:all .6s;
	opacity:1;
/*	animation-duration: 0.6s;*/
}
.basket__aside .product__basket.delete{
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	opacity:0;
	-webkit-transition:all .6s;
	transition:all .6s;
}
.basket__aside .product__ceil{
	border:2px solid #000;
	padding: 0.31em 1.87em;
	text-align: center;	
}
.basket__aside .product__basket  img{
	width:100%;
	max-width: 60px;
	height: auto;
}
/*Описание*/
.basket__aside .product__about{
	display: block;
	padding-left: 15px;
	position: relative;

}
.basket__aside .product__about .name{
	font-size: 1.68em;
	color: #000;
	letter-spacing: 0.05em;
	margin: 0;
}
.basket__aside .product__about .model-name{
	font-size: 0.93em;
	color: #000;
	margin-top: 0.4em;
	letter-spacing: 0.046em;
}
.basket__aside .product__about .number__block{
	position: absolute;
	left:15px;
	bottom: 5px;
}
.basket__aside .product__about .number{
	font-size: 0.93em;
	color: #000;
	letter-spacing: 0.046em;
	margin: 0;
}
.basket__aside .product__about .price{
	font-size: 1.375em;
	color: #000;
	margin-top: 0.318em;
	letter-spacing: 0.045em;
	margin-bottom: 0;
/*	margin-top: 0;*/
}
/*Close*/
.basket__aside  .close__product{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	background: #000;
	color: #fff;
	width:20px;
	height:20px;
	cursor:pointer;
	position: absolute;
	top:50%;
	right:15px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	
}
.basket__aside  .close__product img{
	width:100%;
	max-width:14px;
	height: auto;
}

/*Product Pay*/
.product__pay {
position: absolute;
bottom:0;
left:50%;
-webkit-transform:translateX(-50%);
transform:translateX(-50%);
padding-bottom: 20px;
width:80%;
}
.product__pay .product__pay__all{
	position: relative;
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;	
}
.product__pay .product__pay__all h3{
	font-family: "Bebas Neue Regular";
	font-size: 1.875em;
	color: #000;
	letter-spacing: 0.033em;
	margin: 0;
}
.product__pay .product__pay__all span{
	font-size: 1.875em;
	color: #000;
	letter-spacing: 0.033em;
	position: absolute;
	right: 0;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.product__pay .red-text{
	font-size: 0.875em;
	color: #c33131;
	letter-spacing: 0.04em;
	margin-top: 0;
}
.product__pay .btn-issue{
	display: block;
	border:none;
	outline:none;
	background: #000;
	color: #fff;
	margin: 0 auto;
	cursor:pointer;
	-webkit-transition:.3s;
	transition:.3s;
	margin-top: 0.66em;
	font-size: 1.875em;
	padding: 0.166em 0.333em;
	width:100%;
	letter-spacing: 0.08em;
	text-align: center;
}
.product__pay .btn-issue.disabled{
	background: #474747;
	-webkit-transition:.3s;
	transition:.3s;
}


@media screen and (max-width:768px){
	.burger__panel{
		display: block;
	}
	 .burger{
		display:block;
	}
	.header .header-menu{
		display:none;
	}
	.header .basket{
		display:none;
	}
	.newbasket{
		display: block;
	}
}

/*Sidebar*/
@media screen and (max-width:768px){
	.sidebar ul li a{
	padding: 25px 25px;
	font-size:27px;
	}

}
@media screen and (max-width:576px){
	.sidebar ul li a{
	padding: 25px 25px;
	font-size:20px;
	}
}
/*Burger and Newbasket*/
@media screen and (max-width:275px){
.burger i{
	font-size: 25px;
}
.newbasket i{
	font-size: 25px;
}
.sidebar{
	width:200px;
	left:-200px;
}
	.sidebar ul li a{
	padding: 20px 25px;
	font-size:18px;
	}
	.sidebar ul li:first-child a{
	padding: 15px 25px;
	font-size:18px;
	}
	.sidebar__close{
	height:40px;
	width:20%;
	font-size: 18px;
	}

}
/*Logo*/
@media screen and (max-width:320px){
.header .logo img{
	max-width:120px;
}
.burger__panel{
	height: 70px;
}
.burger{
	position: absolute;
	top:10px;
	left:10px;
}

.newbasket{
	position: absolute;
	right:10px;
	top:10px;
	padding:3px 6px 5px 5px;
	font-size: 25px;

}

}
/*Корзина*/