

*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Bebas Neue Regular',sans-serif;

}

.header{
	width:100%;
	padding-top: 8px;
	padding-bottom: 7px;
	font-family: 'Bebas Neue Regular',sans-serif;
	font-size: 1.8em;
	background: #fff;
}





.container{

width: 100%;
max-width:1170px;
margin:0 auto;



}
.header .logo img{
	width:100%;
	max-width:224px;
	height: auto;
}
.header-menu{
	margin-left: 56px;
	display: flex;
}
.header-menu li{
	margin-right: 39px;
}
.header-menu li:nth-child(5){
	margin-right: 0;
}
.header-menu li a{
	color: #000000;
letter-spacing: 2.34px;
transition: border-bottom .3s;
position: relative;
font-size: 1.05em;
transition: .3s;

}
.header-menu li a::after{
	content:"";
	display:block;
	width:0;
	height:3px;
	background:#000;
	transition:width .3s;
	transition: .3s;
	position: absolute;
	left:0;
	bottom:-25px;
}
.header-menu li a:hover::after{
	width:100%;
	transition: width .3s;
}
.header-menu li a.active::after{
	width:100%;
	
}
.header-menu li a:hover .header-menu li a:after{
	width:100%;
	transition: border-bottom .3s;
}
.header .basket{
	margin-left: 56px;
}
.header .basket i{
font-size:55px ;
cursor:pointer;

}

/*Media*/

@media screen and (max-width:1200px){
	.header .header-menu li a{
		font-size: 0.85em;
	}
	 .header .logo img{
		width:100%;
		max-width:180px;
		height:auto;
	}
	.header .basket i{
		font-size:45px ;
	}
	.header-menu li a::after{
		bottom:-20px;
	}
}
@media screen and (max-width:926px){
	.header .basket i{
		font-size:40px ;
	}

	.header .basket{
	margin-left: 20px;
}
.header-menu li{
	margin-right: 25px;
}
	.header-menu li a::after{
		bottom:-13px;
	}
}
@media screen and (max-width:800px){
		.header .logo img{
		width:100%;
		max-width:180px;
		min-width:130px;
		height:auto;
	}
	.header .basket i{
		font-size:35px ;
	}
	.header .header-menu li a{
		font-size: 0.75em;
		position: relative;
		top:-2px;
	}


}





.sidebar{
	width:250px;
	height: 100%;
	position: fixed;
	top:0;
	background: #000;
	transition:left 0.4s;
	left:-250px;
	z-index:999;

}
.sidebar.active{
	left:0;
}


.sidebar ul li  {
	width:100%;
/*	position: relative;*/
	list-style: none;

}
.sidebar__close{

	position: absolute;
	top:0;
	right:0;
	height:65px;
	width:25%;
	color:#fff;
	display: flex;
	align-items:center;
	justify-content: center;
	font-size: 23px;
	cursor:pointer;
	background: #101010;

}
.sidebar ul li a{
	color: #fff;
	padding: 35px 25px;
	font-size:27px;
	display:block;
	letter-spacing: 2px;
	transition:  0.3s ;
	transition: .4s;
}

.sidebar ul li a:hover{
	padding-left: 40px;
	transition: .4s ;
}
.burger i{
	font-size: 30px;
}
.burger{
	position: absolute;
	top:30px;
	left:10px;
	display: none;
	cursor:pointer;
}

.newbasket{
	font-size: 30px;
	display: none;
	position: absolute;
	right:10px;
	top:20px;
	border:1px solid #000;
	color:#000;
	padding: 7px 9px 7px 7px;
	cursor:pointer;
	transition: 0.3s ;
}
.newbasket:hover{
	background: #000;
	color:#fff;
	transition: 0.3s ;
}
/*Burger panel*/
.burger__panel{
	position: relative;
	height: 100px;
	display: none;
}





@media screen and (max-width:768px){
	.burger__panel{
		display: block;
	}
	 .burger{
		display:block;
	}
	.header .header-menu{
		display:none;
	}
	.header .basket{
		display:none;
	}
	.newbasket{
		display: block;
	}
}

/*Sidebar*/
@media screen and (max-width:768px){
	.sidebar ul li a{
	padding: 25px 25px;
	font-size:27px;
	}

}
@media screen and (max-width:576px){
	.sidebar ul li a{
	padding: 25px 25px;
	font-size:20px;
	}
}
/*Burger and Newbasket*/
@media screen and (max-width:275px){
.burger i{
	font-size: 25px;
}
.newbasket i{
	font-size: 25px;
}
.sidebar{
	width:200px;
	left:-200px;
}
	.sidebar ul li a{
	padding: 20px 25px;
	font-size:18px;
	}
	.sidebar ul li:first-child a{
	padding: 15px 25px;
	font-size:18px;
	}
	.sidebar__close{
	height:40px;
	width:20%;
	font-size: 18px;
	}

}
/*Logo*/
@media screen and (max-width:320px){
.header .logo img{
	max-width:120px;
}
.burger__panel{
	height: 70px;
}
.burger{
	position: absolute;
	top:10px;
	left:10px;
}

.newbasket{
	position: absolute;
	right:10px;
	top:10px;
	padding:0px 6px 5px 5px;
	font-size: 25px;

}

}