.how-order{
	font-size: 100%;
	padding-top: 1.875em;
	padding-bottom: 4.5em;
}

.how-order__title{
	text-align: center;
	margin-bottom: 1.875em;
}
.how-order__title h1{
	font-size: 3em;
}
.how-order__title p{
	margin-top: 0.4em;
	font-family: "Bebas Neue Bold";
	font-size: 1.56em;
}
.section {
	margin-bottom: 1.25em;
	font-family: "Bebas Neue Bold";
	position: relative;
	
}
.section h2{
	font-size: 1.875em;
	margin-bottom: 0.5em;
	position: relative;
	

}
.section .wrap-img{
text-align: center;
}
.section .flex-container{
	display: flex;
	justify-content: center;
	flex-wrap:nowrap;
	margin-top: 0.9em;
	margin-bottom: 1.25em;
}
.section ul.list{
	list-style-type: disc;
}
.section li{
	font-size: 1.56em;
	margin-left: 4em;
	line-height: 1.2em;
	position: relative;
}
.section li.touch-buy{
	margin-top: 6.25em;
	margin-bottom: 0.625em;
}
.section li p{
	margin-top:0.2em;
}

/*Стилизация стрелок*/
.arrow-first{
	position: absolute;
	bottom:0;
	right:0;
	transform: translate(120%,70%);
}
.arrow-two{
	position: absolute;
	top:0;
	left:0;
	transform: translate(-120%,-50%);
}
.arrow-three{
	position: absolute;
	top:0;
	right:0;
	transform: translate(120%,-60%);
}
.arrow-four{
	position: absolute;
	top:0;
	left:0;
	transform: translate(-120%,-80%);
}
.arrow-five{
	position: absolute;
	top:0;
	right:0;
	transform: translate(100%,-60%);
}

.arrow-seexth{
	position: absolute;
	top:0;
	left:0;
	transform: translate(-120%,-80%);
}
.how-order .arrow{
	width:7%;
	text-align: center;
	height:auto;

}

/*Картинки*/
.section .section-logo{
	max-width: 885px;
	width: 100%;
	height: auto;
}
.section .section-catalog{
	max-width: 918px;
	width: 100%;
	height: auto;
}
.section .section-case{
	max-width: 497px;
	width: 100%;
	height: auto;
}
.section .section-cup{
	max-width: 521px;
	width: 100%;
	height: auto;
}
.section .section-switshot{
	max-width: 581px;
	width: 100%;
	height: auto;
}
.section .section-issue{
	max-width: 907px;
	width: 100%;
	height: auto;
}
.section .section-design{
	max-width: 1050px;
	width: 100%;
	height: auto;
}
.section .section-message{
	max-width: 563px;
	width: 100%;
	height: auto;
}



@media screen and (max-width:992px){
	.how-order .arrow{
	width:5%;
}
.how-order{
	font-size: 85%;
}
.section li.touch-buy{
	margin-top: 4em;
}
}
@media screen and (max-width:768px){
	.how-order .arrow{
	width:4%;
}
.how-order{
	font-size: 75%;
}
.section li{
	margin-left: 2em;
	line-height: 1.3em;
}
.section li.touch-buy{
	margin-top: 2em;
}
}

@media screen and (max-width:576px){
	.how-order .arrow{
	width:6%;
	display: none;
}
.how-order{
	font-size: 60%;
}
.section li{
	margin-left: 2em;
	line-height: 1.3em;
}
.section .flex-container{
	flex-wrap:wrap;
	flex-direction: column;
}
.how-order__title h1{
	font-size: 4.5em;
	letter-spacing: 0.05em;
}
.how-order__title p{
	font-size: 1.8em;
}
}
@media screen and (max-width:500px){
.how-order{
	font-size: 55%;
}
}
@media screen and (max-width:414px){
	.how-order{
	font-size: 55%;
	padding-top:0em; 
}
.section li.touch-buy{
	margin-top: 1em;
}
}