
/*Затемнение при боковом меню*/
.cover-background{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(213, 214, 232,.6);
	opacity:0;
	transition: .3s;
}

/* Carousel */
.carousel{
font-family: 'Bebas Neue Regular',sans-serif;
font-weight: normal;
width:100%;
position: relative;
}
/*Case*/
.carousel-block{
	width:100%;
	padding-top: 40px;
	padding-bottom: 20px;
	background: url('../img/background1.jpg') 50% 50% no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height:540px;
}


.carousel__img{
	width:100%;
	display:flex;
	justify-content: flex-end;
/*	border:1px solid red;*/
}

.phone-carousel{
	width:100%;
	max-width:210px;
	height:auto;
}
.main-carousel-switshot{
	width:100%;
	max-width: ;
	height:auto;
}
.main-carousel-cup{
	width:100%;
	max-width:450px;
	height:auto;
}
.main-carousel-tshirt{
	width:100%;
	max-width:500px;
	height:100%;
	max-height:467px;
}
 .carousel-block__text{
	margin-left: 100px;
	margin-top: 10px;
}
 .carousel-block__text h1{
 	font-family: "Bebas Neue Bold";
 	font-weight: normal;
	color: #ffffff;
	font-size: 60px;
	letter-spacing: 3.9px;
	padding:10px ;
	background: #000;
	display: inline-block;
	animation-delay:0.3s;
	margin: 0;
}

 .carousel-block__text .carousel-block__features{
	margin-top: 20px;
}
.carousel-block__text .carousel-block__features li{
	font-size: 35px;
	letter-spacing: 2px;
	font-weight:bold;
	line-height: 72px;
}
.carousel-block__text .carousel-block__features li:nth-child(1){
animation-delay:0.6s;
}
.carousel-block__text .carousel-block__features li:nth-child(2){
animation-delay:0.9s;
}
.carousel-block__text .carousel-block__features li:nth-child(3){
animation-delay:1.2s;
}

 .carousel-block__text .btn-order{
	color:#fff;
	font-family: 'Bebas Neue Regular',sans-serif;
	font-weight: normal;
	font-size: 36px;
	font-weight:700;
	padding: 12px 28px;
	background: #de3232;
	margin-top: 34px;
letter-spacing: 3.34px;
	display: inline-block;
	 box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 300ms;
	animation-delay:1.4s;
}
 .carousel-block__text .btn-order:hover{
 		transition: all ease-in-out 300ms;
 		    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);

    transform: translate(0, -5px) scale(1.05);
 }




/* your Disagn */
.design{
	width: 100%;
/*	padding-top:60px ;*/
}
.design .design__title h1{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 3.9px;
	line-height: 90px;

}
.design .design__content{
	width:100%;
/*	margin-top: 36px;*/
	padding-top: 48px;
	padding-bottom: 67px;
	 background: url('../img/background2.jpg') 50% 50% no-repeat; 
	 background-size:cover;
/*	background: rgb(107, 129, 241);*/
}
.design .design__block{
	text-align: center;
}
.design .design__button{
	text-align: center;
	margin-top: 60px;
}
.design .design__block.cup img{
	width:100%;
	max-width: 400px;
	height: auto;
	margin-top: 50px;
}
.design .design__block.phone img{
	width:100%;
	max-width:189px;
	height:auto;
}
.design .design__block.switshot img{
	width:100%;
	max-width: 343px;
	height: auto;
}

.design .design-btn{
	color:#fff;
	font-size:36px ;
	padding: 20px 50px;
	background: #de3232;
	letter-spacing:1.3px;
	display: inline-block;
	 box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
	transition: all ease-in-out 300ms;


}
.design .design-btn:hover{
    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);

    transform: translate(0, -10px) scale(1.05);
	transition: all ease-in-out 300ms;
}
/* Top */




.top{
	width: 100%;
	padding-top: 40px;
}
.top .top__title h1{
	text-align: center;
	font-size: 60px;
	letter-spacing: 3.9px;
}
.top__content{
	width:100%;
	margin-top: 40px;
	color: #fff;
}

.top__content .container{
	padding: 0;
	display: flex;
	flex-wrap:nowrap;
}
/*	Топ Категории*/

.top__menu{
display: block;
flex-basis:23%;
z-index:100;
overflow:visible;
}
.slick-list.draggable{
	overflow:visible;
}
.top__menu li.top-link.slick-slide.slick-active a{
	outline:none;
}
.top__menu li {
	font-size:35px;
	text-align: center;
	background: #000;
	transition: .4s;
	border:none;
}

.top__menu li:hover{
	transform:scale(1.1);
	transition: .4s;
}

.top__menu li a{
	font-size:inherit;
	color: #fff;
	padding: 35px 0;
	display: block;
	border:none;
	border-bottom:3px solid #000;
	border-top:3px solid #000;
	transition: .3s;

}

.top__menu li a:hover{
	transition: .3s;
}
.top__menu li a.active{
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	position: relative;
}

/*Slick arrow*/
.top__menu button.left__top__arrow,.top__menu button.right__top__arrow{
	width: 300px;
	cursor:pointer;
	outline:none;
	border:none;
	border-right:2px solid #fff;
	background: #000;

}
.top__menu button.right__top__arrow{
	border-left:2px solid #fff;

}

/* Справа */
.top__wrapper{
	flex-basis:77%;
	position: relative;
	background: url('../img/top-background.jpg.png') 50% 50% no-repeat;
	background-size: cover;

}
.top__wrapper .carousel-top{
	width:100%;
	position: absolute;
	top:0;
	left:0;
	transition:0.3s;
	height:550px;
	display: flex;
	align-items: center;
	cursor:pointer;
}
.top__wrapper .carousel-top .owl-item{
	display: flex;
	justify-content:center;
}
/*Dots*/
.top__wrapper .carousel-top .owl-dots{
	position: absolute;
	top:90%;
	left:50%;
	transform:translateX(-50%);
	display: flex;
}
  .top__wrapper  .owl-theme .owl-dots .owl-dot span {
    
    background: #A6B4AF;
     }
  .top__wrapper  .owl-theme .owl-dots .owl-dot.active span {
    
    background: #707070;
     }






/*Why*/
.why{
	padding-top: 44px;
	padding-bottom: 40px;
}
.why .why__title h1{
		text-align: center;
	font-size: 60px;
	letter-spacing: 4.2px;
	margin-bottom: 109px;
}
.why .why__content{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.why .why__block{
	text-align: center;
	flex-basis: 25%;
	margin-bottom: 50px;
/*	border:1px solid red;*/
}
.why .why__block h2{
	font-size: 30px;
	margin-top: 36px;
	letter-spacing:2px;
	line-height: 30px;
}
.why__block.watch img{
	width:100%;
	max-width:105px;
	height: auto;

}
.why__block.car img{
	width:100%;
	max-width:253px;
	height: auto;

}
.why__block.star img{
	width:100%;
	max-width:140px;
	height: auto;

}
.why__block.magnifier img{
	width:100%;
	max-width:144px;
	height: auto;
	
}

/*Work*/
.work{
	padding-top: 40px;
	padding-bottom: 40px;


}
.work .work__title h1{
		text-align: center;
	font-size: 60px;
	letter-spacing: 4.2px;
	margin-bottom: 109px;
}
.work .work__content.owl-carousel{
	width:100%;
}
.work .work__content img{
/*display: inline-block;*/
/*height: auto;
*/}






