
/*Carousel*/

@media screen and (max-width:992px){
.carousel-block{
height: 520px;
}
.carousel-block__text{
margin-left: 50px;
margin-top: 10px;
}
 .carousel-block__text{
 	font-size: 90%;
 }
.phone-carousel{
max-width:180px;
}
}
@media screen and (max-width:794px){
 .carousel-block__text{
 	font-size: 85%;
 }
}

@media screen and (max-width:768px){
.carousel-block{
height: 390px;
padding-top: 30px;
}
.main-carousel-switshot{
max-width: 250px;
}
.main-carousel-cup{
min-width: 250px;
}	
.phone-carousel{
max-width:150px;
}
 .carousel-block__text{
 	font-size: 75%;
 }

}
@media screen and (max-width:682px){
 .carousel-block__text h1{
	font-size: 3em;
}
}
@media screen and (max-width:606px){
.carousel-block{
height: 390px;
}
   .carousel-block .owl-theme .owl-dots .owl-dot span {
      width: 7px;
      height: 7px;
 }
.phone-carousel{
max-width:130px;
}


}
@media screen and (max-width:576px){
.carousel-block{
height: 320px;
}
/*Img*/
.main-carousel-cup{
min-width: 220px;
}	
.phone-carousel{
max-width:110px;
}

.carousel-block__text{
margin-left: 40px;
margin-top: 0px;
font-size: 60%;

}

 .carousel-block__text h1{
 	font-size: 2.9em;
 	letter-spacing: 0.070em;
 }
 .carousel-block__text .btn-order{
 	margin-top: 0.5em;
 }

}
@media screen and (max-width:544px){
 .owl-theme .owl-dots .owl-dot span{
	width: 8px;
	height: 8px;
}
.main-carousel-tshirt{
	min-width:190px;
	margin-left: 20px;
}
}
@media screen and (max-width:510px){
.carousel-block{
height: 320px;
}
.main-carousel-switshot{
max-width: 170px;

}	
.main-carousel-cup{
min-width: 200px;
}	
.phone-carousel{
max-width:110px;

}
.main-carousel-tshirt{
	max-width:170px;
	margin-left: 15px;
}

.carousel-block__text{
margin-left: 10px;
}
.carousel-block__text.cup{
margin-left: 40px;
}
}

@media screen and (max-width:446px){
.carousel-block{
height: 280px;
}
.main-carousel-switshot{
min-width: 100px;
}
.main-carousel-switshot{
min-width: 130px;
}
.main-carousel-tshirt{
min-width:160px;
}
.phone-carousel{
max-width:100px;
}
.main-carousel-cup{
min-width: 190px;
}
.carousel-block__text.cup{
margin-left: 30px;
}
.carousel-block__text .carousel-block__features li{
	font-size: 1.9em;
	letter-spacing: 0.05em;
}
 .carousel-block__text .btn-order{
 	font-size: 1.9em;
 	padding: 0.222em 0.444em;
 	margin-top: 0.5em;
 	 -webkit-box-shadow:none;
 	 box-shadow:none;
 }
  .carousel-block__text h1{
  	font-size: 2.6em;
  	letter-spacing: 0.09em;
  }

}

@media screen and (max-width:416px){
.carousel-block{
height: 260px;
}
.carousel.owl-theme .owl-dots .owl-dot span {
width: 5px;
height: 5px;
margin: 5px 7px;
 }
.carousel.owl-theme .owl-dots {	
bottom:5px;
}
.main-carousel-switshot{
min-width: 120px;
}
.phone-carousel{
max-width:90px;
}
.main-carousel-tshirt{
min-width:150px;
}
.main-carousel-cup{
min-width: 170px;
margin-left: -20px;
}
.carousel-block__text.cup{
margin-left: 0px;
}

}
@media screen and (max-width:400px){
	.carousel-block{
height: 240px;
}
.main-carousel-switshot{
min-width: 125px;
}
.main-carousel-tshirt{
min-width:130px;
}
.phone-carousel{
max-width:80px;
}
 .main-carousel-cup{
min-width: 160px;
margin-left: -10px;
}
.carousel-block__text.cup{
margin-left: 20px;
}
  .carousel-block__text h1{
  	font-size: 2.4em;
  }
.carousel-block__text{
	font-size: 55%;
}
.carousel-block__text .carousel-block__features {
    margin-top: 0.8em;
}

}
@media screen and (max-width:360px){
	.carousel-block{
		height: 220px;
	}	
.main-carousel-cup{
	min-width: 140px;
}
.phone-carousel{
max-width:70px;
}
.carousel-block__text.cup{
	margin-left: 0px;
}
.carousel-block__text{
	font-size: 50%;
}
.carousel-block__text .btn-order:hover{
	-webkit-box-shadow:none;
	box-shadow:none;
}
 .carousel-block__text .btn-order{
 	font-size: 1.7em;
 	padding: 0.111em 0.333em;
 }


}
@media screen and (max-width:340px){
.carousel-block{
		height: 180px;
		padding-top: 15px;
		padding-bottom: 15px;
	}	
.phone-carousel{
max-width:65px;
}
.main-carousel-cup{
	min-width: 130px;
}	
.main-carousel-switshot{
min-width: 110px;
/*margin-right: 50px;*/
}
.main-carousel-tshirt{
min-width: 110px;
}
  .carousel-block__text h1{
  	font-size: 2.2em;
  	 padding:0.18em 0.23em;
  }
.carousel-block__text .carousel-block__features li{
	font-size: 1.8em;
	letter-spacing: 0.06em;
}
 .carousel-block__text .btn-order{
 	font-size: 1.8em;
 	padding: 0.14em 0.34em;
 	letter-spacing: 0.1em;	
 	margin-top: 0.5em;
 	 -webkit-box-shadow:none;
 	 box-shadow:none;
 }
.carousel-block__text{
	font-size: 45%;
}
}

@media screen and (max-width:326px){	
.carousel-block__text.cup{
	margin-left: 20px;
}
.main-carousel-switshot{
max-width: 120px;
}
.main-carousel-tshirt{
min-width: 110px;
}
}
@media screen and (max-width:310px){



.main-carousel-switshot{
max-width: 100px;
}
.main-carousel-tshirt{
min-width: 100px;
}
.phone-carousel{
max-width:60px;

}
.main-carousel-cup{
	min-width: 120px;
	margin-left: -10px;
}
  .carousel-block__text h1{
  	font-size: 2.1em;
  }
.carousel-block__text .carousel-block__features li{
	font-size: 1.7em;
}
 .carousel-block__text .btn-order{
 	font-size: 1.7em;
 	padding: 0.14em 0.34em;
 }
}


@media screen and (max-width:290px){
	.phone-carousel{
max-width:55px;

}
.carousel-block{
		height: 160px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.main-carousel-switshot{
max-width: 90px;
}
.main-carousel-tshirt{
min-width: 90px;
}
.carousel-block__text.case{
	margin-left: 0px;
}
.carousel-block__text .carousel-block__features li{
	font-size: 1.65em;
}
 .carousel-block__text .btn-order{
 	font-size: 1.6em;
 	padding: 0.17em 0.34em;
 }

}
@media screen and (max-width:275px){
	.carousel-block{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 160px;
}
.main-carousel-switshot{
min-width: 100px;
}
.main-carousel-tshirt{
min-width: 90px;
}
.phone-carousel{
min-width:55px;
}
.main-carousel-cup{
min-width: 110px;
margin-left: -10px;
}
.carousel-block__text.cup{
	margin-left: 10px;
}
.carousel.owl-theme .owl-dots .owl-dot span {
width: 4px;
height: 4px;
margin: 5px 5px;
 }
 .carousel.owl-theme .owl-dots {	
bottom:2px;
}
}



































/*Your disagn*/
@media screen and (max-width:1000px){
	.design .design__block.phone img{
	max-width:160px;
}
}
@media screen and (max-width:900px){
	.design .design__block.phone img{
	max-width:140px;

}
}
@media screen and (max-width:800px){
	.design .design__block.phone img{
	max-width:130px;

}
}
@media screen and (max-width:768px){
	.design .design__block.phone img{
	max-width:120px;

}
}
@media screen and (max-width:700px){
	.design .design__block.phone img{
	max-width:100px;

}
.design .design__block.cup img{
	max-width:240px;
	margin-top: 20px;
}
.design .design__title h1, .top .top__title h1,.why .why__title h1,.work .work__title h1{
	font-size: 50px;
}


}
@media screen and (max-width:626px){
	.design .design__block.phone img{
	max-width:90px;

}
.design .design__title h1,.top .top__title h1,.why .why__title h1,.work .work__title h1{
	font-size: 40px;
	line-height: 50px;
}
.design{
	width: 100%;
	padding-top:40px ;
}
}
@media screen and (max-width:550px){
		.design .design__block.phone img{
	max-width:80px;

}
.design .design-btn {
	font-size: 30px;
	padding: 10px 30px;
}
}

@media screen and (max-width:500px){
	.design .design__block.phone img{
	max-width:70px;

}
.design .design__title h1,.top .top__title h1{
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1.4px;
}
	.design{
	width: 100%;
	padding-top:20px ;
}
.design .design__content{
	width:100%;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom:30px;
	}
.design .design-btn{
	color:#fff;
	font-size:23px;
	padding: 10px 15px;
	background: #de3232;
	letter-spacing:1.4px;
}
.design .design__button{
	text-align: center;
	margin-top: 30px;
}
}
@media screen and (max-width:430px){
	.design .design__block.phone img{
	max-width:60px;

}
}
@media screen and (max-width:400px){
	.design .design__title h1,.top .top__title h1{
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1px;
}
	.design .design__block.phone img{
	max-width:55px;
}
.design .design__block.cup img{
	min-width:130px;
}
.design .design__block.switshot img{
	min-width:100px;
}
.design .design__content{
	padding-bottom: 20px;
}
.design .design-btn{
	color:#fff;
	font-size:20px ;
	padding: 7px 10px;
	background: #de3232;
	letter-spacing:1px;


}
.design .design__button{
	margin-top: 10px;
}
}
@media screen and (max-width:360px){
	.design .design__block.phone img{
	min-width:50px;

}
.design .design__block.cup img{
	min-width:130px;
	margin-left: -10px;
}

}
@media screen and (max-width:360px){
	.design .design__block.switshot img{
	margin-left: -10px;
}
.design .design__title h1{
	font-size: 23px;
	line-height: 30px;
}
}
@media screen and (max-width:320px){
	.design .design__content{
	padding-bottom: 10px;
}
.design .design__button{
	margin-top: 0px;
}
	.design .design__block.phone img{
	max-width:50px;

}
.design .design-btn{
	font-size:16px ;
	padding: 5px 8px;
	letter-spacing:1px;


}
.design .design__block.cup img{
	min-width:120px;
}
.design .design__block.cup {
margin-top: -5px;
}
.design .design__block.switshot img{
	min-width:90px;
}
.design .design__title h1{
	font-size: 25px;
	line-height: 40px;
}
}
@media screen and (max-width:288px){
	.design .design__block.phone img{
	min-width:40px;

}
.design .design__block.cup img{
	min-width:100px;
}
.design .design__block.switshot img{
	min-width:80px;
}
.design .design-btn{
	font-size:15px ;
/*	padding: 10px 10px;*/
	letter-spacing:1px;
	padding: 5px 8px;
	font-weight: lighter;


}
}
@media screen and (max-width:275px){
.design .design-btn{
	font-size:13px ;
	padding: 3px 5px;
	font-weight: lighter;


}
}
/*Why*/




@media screen and (max-width:1035px){
.why .why__block h2{
	font-size: 25px;
}

}
@media screen and (max-width:962px){
.why__block.watch img{
	max-width:85px;
}
.why__block.car img{
	max-width:200px;
}
.why__block.star img{
	max-width:110px;
}
.why__block.magnifier img{
	max-width:114px;	
}
.why .why__block h2{
	font-size: 23px;
}
}
@media screen and (max-width:900px){
.why .why__block h2{
	font-size: 20px;
	line-height: 25px;
}
}
@media screen and (max-width:832px){


.why__block.watch img{
	max-width:75px;
}
.why__block.car img{
	max-width:180px;
}
.why__block.star img{
	max-width:100px;
}
.why__block.magnifier img{
	max-width:104px;	
}
.why .why__block h2{
	font-size: 23px;
}
.why .why__block h2{
	font-size: 19px;
	line-height: 25px;
}
}
@media screen and (max-width:768px){
	.why .why__block{
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
	}
.work{
	padding-top: 0px;
}
.why{
	padding-top: 44px;
	padding-bottom: 20px;
}
}
@media screen and (max-width:500px){
	.why .why__block{
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		margin-bottom: 50px;
	}
	.why .why__title h1{
	font-size: 30px;
	letter-spacing: 1.4px;
}


}
@media screen and (max-width:400px){
.why{
	padding-top:30px;
	padding-bottom: 20px;
}
.why .why__title h1{
	font-size: 25px;
	letter-spacing: 1.4px;
	line-height:35px;
	margin-bottom: 40px;
}
.why .why__block h2{
	font-size: 20px;
	margin-top: 30px;
	letter-spacing:1px;
	line-height: 25px;
}
}
@media screen and (max-width:320px){
.why__block.watch img{
	max-width:65px;
}
.why__block.car img{
	max-width:160px;
	margin-left: -20px;
}
.why__block.star img{
	max-width:90px;
}
.why__block.magnifier img{
	max-width:90px;	
}
}
@media screen and (max-width:300px){
	.why .why__block h2{
	font-size: 17px;
	margin-top: 20px;
	letter-spacing:1px;
	line-height: 20px;
}
}
@media screen and (max-width:275px){
	.why .why__block h2{
	font-size: 15px;
	margin-top: 15px;
}
.why .why__title h1{
	font-size: 20px;
	line-height: 25px;
}
.why .why__block:last-child{
	margin-bottom: 10px;
}
}



/*Work*/
@media screen and (max-width:623px){
.work .work__title h1{
	margin-bottom: 50px;
}
}
@media screen and (max-width:426px){
.work .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
	height: 95%;
	width:30px;
}
.work .owl-carousel .owl-nav button img{
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
}
@media screen and (max-width:400px){
.work .work__title h1{
	font-size: 35px;
	letter-spacing: 1.4px;
}
}
@media screen and (max-width:346px){
.work .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
	height: 93%;
	width:25px;
}
.work .owl-carousel .owl-nav button img{
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
}
@media screen and (max-width:275px){
.work .work__title h1{
	font-size: 25px;
	margin-bottom: 20px;
}
}
/*Top*/



@media screen and (max-width:822px){

		.top__content .container{
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;

}
	.top__wrapper .carousel-top.case img{
	width:100%;
	max-width:150px;
	height: auto;
}
	.top__menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	background: #000;
height: 80px;
width:100%;
position: relative;
	}

.top__menu {
	min-width:0;
	min-height: 0;
}	
	.top__wrapper{
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	height:400px;
}
.top__wrapper .carousel-top{
	height:400px;
}


	.top__menu li a.active{
	border-bottom:none;
	border-top:none;
}
	.top__menu li:hover{
	-webkit-transform:scale(1);
	transform:scale(1);
}

.slick-list.draggable{
	overflow:hidden;
}

.top__menu li{
	font-size: 35px;
	width:100%;
	background: #000;
	height: 80px;
	position: relative;
	z-index:100;

}
.top__menu li a{
	padding:0;
	color:#fff;
	height:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: inherit;
	outline:none;
	border-top:none;

}
.top__menu li a.active{
	border-bottom: 0;
	border-top: 0;
}
.top__menu li:active{
	border:none;
	outline: none;
}
}
@media screen and (max-width:582px){
		.top__wrapper{
	height:380px;
}
.top__wrapper .carousel-top{
	height:380px;
}
	.top__menu li{
	font-size: 30px;
}
.top__menu button.left__top__arrow,.top__menu button.right__top__arrow{
	width: 200px;
	cursor:pointer;
	outline:none;
	border:none;
	background: #000;

}
.top__menu button img{
	-webkit-transform:scale(0.8);
	transform:scale(0.8);
}
.top__menu button.left__top__arrow{
	border-right:2px solid #fff;
}
.top__menu button.right__top__arrow{
	border-left:2px solid #fff;
}

}
@media screen and (max-width:576px){
			.top__wrapper{
	height:360px;
}
.top__wrapper .carousel-top{
	height:360px;
}
.top__menu{
height: 60px;
}
.top__menu li{
height: 60px;
}
.top__menu li a{
height:100%;
}
.top__wrapper .carousel-top.case img{
	max-width:130px;
}
.top__wrapper .carousel-top.cup img{
	max-width:340px;
}
.top__wrapper .carousel-top.tshirt img{
	max-width:250px;
}
.top__wrapper .carousel-top.switshot img{
	max-width:250px;;
}
}
@media screen and (max-width:400px){
.top__wrapper{
	height:320px;
}
.top__wrapper .carousel-top{
	height:320px;
}
	.top__menu li{
	font-size: 25px;
}
.top__wrapper .carousel-top.case img{
	max-width:130px;
}
.top__wrapper .carousel-top.cup img{
	max-width:260px;
}
.top__wrapper .carousel-top.tshirt img{
	max-width:190px;
}
.top__wrapper .carousel-top.switshot img{
	max-width:200px;
}
}
@media screen and (max-width:320px){
	.top__menu{
height: 50px;
	}
	.top__menu li{
	height: 50px;
	font-size: 20px;

}
.top__menu li a{

	height:100%;
}
	.top__wrapper{
	height:330px;
}
.top__wrapper .carousel-top{
	height:330px;
}
.top__menu button img{
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
}



}
@media screen and (max-width:275px){
	.top__wrapper{
	height:270px;
}
.top__wrapper .carousel-top{
	height:270px;
}
.top__menu{
height: 40px;
}
.top__menu li{
height: 40px;
font-size: 18px;
}
.top__menu li a{
height:100%;
}
.top__menu button img{
	-webkit-transform:scale(0.4);
	transform:scale(0.4);
}
.top__wrapper .carousel-top.case img{
	max-width:110px;
}
.top__wrapper .carousel-top.cup img{
	max-width:230px;
}
.top__wrapper .carousel-top.tshirt img{
	max-width:170px;
}
.top__wrapper .carousel-top.switshot img{
	max-width:180px;
}


}


