/*Header*/
@media screen and (max-width:1200px){
	.header .header-menu li a{
		font-size: 0.85em;
	}
	 .header .logo img{
		width:100%;
		max-width:180px;
		height:auto;
	}
	.header .basket i{
		font-size:45px ;
	}
	.header-menu li a::after{
		bottom:-20px;
	}
}
@media screen and (max-width:926px){
	.header .basket i{
		font-size:40px ;
	}

	.header .basket{
	margin-left: 20px;
}
.header-menu li{
	margin-right: 25px;
}
	.header-menu li a::after{
		bottom:-13px;
	}
}
@media screen and (max-width:800px){
		.header .logo img{
		width:100%;
		max-width:180px;
		min-width:130px;
		height:auto;
	}
	.header .basket i{
		font-size:35px ;
	}
	.header .header-menu li a{
		font-size: 0.75em;
		position: relative;
		top:-2px;
	}


}

@media screen and (max-width:768px){
	.burger__panel{
		display: block;
	}
	 .burger{
		display:block;
	}
	.header .header-menu{
		display:none;
	}
	.header .basket{
		display:none;
	}
	.newbasket{
		display: block;
	}
}

/*Sidebar*/
@media screen and (max-width:768px){
	.sidebar ul li a{
	padding: 25px 25px;
	font-size:27px;
	}

}
@media screen and (max-width:576px){
	.sidebar ul li a{
	padding: 20px 25px;
	font-size:20px;
	}
}


/*Carousel*/














@media screen and (max-width:992px){
.carousel-block{
height: 520px;
}
.carousel-block__text{
margin-left: 50px;
margin-top: 10px;
}
.carousel-block__text h1{
font-size: 50px;
}
.carousel-block__text .carousel-block__features li{
font-size: 30px;
line-height: 70px;
}
.phone-carousel{
width:100%;
max-width:180px;
height:auto;
}
.carousel-block__text .btn-order{
font-size: 30px;
}
}

@media screen and (max-width:768px){
.carousel-block{
height: 390px;
}
.main-carousel-switshot{
width:100%;
max-width: 250px;
height:auto;
}
.main-carousel-cup{
width:100%;
max-width:469px;
min-width: 250px;
height:auto;
}	
.carousel-block{
width:100%;
padding-top: 30px;

}	
.phone-carousel{
width:100%;
max-width:150px;
height:auto;
}
.carousel-block__text h1{
font-size: 30px;
}
.carousel-block__text .carousel-block__features li{
font-size: 22px;
line-height: 55px;
}
.carousel-block__text .btn-order{
font-size: 22px;
padding: 8px 25px;
margin-top: 20px;
}
.carousel-block__text.switshot .carousel-block__features li{
font-size: 20px;
}
.carousel-block__text.switshot{
margin-left: 50px;
}
}
@media screen and (max-width:606px){
.carousel-block{
height: 390px;
}
    .owl-theme .owl-dots .owl-dot span {
      width: 7px;
      height: 7px;
 }
.carousel-block__text.switshot{
margin-left: 20px;
}
.phone-carousel{
width:100%;
max-width:130px;
height:auto;
}

}
@media screen and (max-width:576px){
.carousel-block{
height: 310px;
}
.main-carousel-cup{
width:100%;
max-width:469px;
min-width: 220px;
height:auto;
}
.carousel-block{
width:100%;
padding-top: 30px;
}	
.phone-carousel{
width:100%;
max-width:120px;
height:auto;
}
.carousel-block__text h1{
font-size: 27px;
}
.carousel-block__text .carousel-block__features li{
font-size: 18px;
line-height: 40px;
}
.carousel-block__text .btn-order{
font-size: 16px;
padding: 8px 10px;
margin-top: 20px;
letter-spacing: 4px;
}
.carousel-block__text{
margin-left: 40px;
margin-top: 0px;


}
.carousel-block__text .carousel-block__features{
	margin-top: 10px
}
.carousel-block__text.switshot{
margin-left: 10px;
}
}
@media screen and (max-width:544px){
.carousel-block__text.switshot .carousel-block__features li{
font-size: 16px;
}
.phone-carousel{
width:100%;
max-width:100px;
height:auto;

}
.owl-theme .owl-controls .owl-page span{
	width: 8px;
	height: 8px;
}
}
@media screen and (max-width:510px){
.carousel-block{
height: 320px;
}
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 170px;
height:auto;
}	
.main-carousel-cup{
width:100%;
max-width:469px;
min-width: 190px;
height:auto;
}	
.phone-carousel{
width:100%;
max-width:100px;
height:auto;

}
.carousel-block__text h1{
font-size: 22px;
}
.carousel-block__text{
margin-left: 10px;
}
.carousel-block__text.cup{
margin-left: 40px;
}
.carousel-block__text.cup .carousel-block__features li{
font-size: 16px;
}
.carousel-block__text.switshot .carousel-block__features li{
font-size: 16px;
}
}

@media screen and (max-width:466px){
.carousel-block__text.switshot .carousel-block__features li{
font-size: 15px;
}
.carousel-block__text.switshot{
margin-left: 0;
}

}
@media screen and (max-width:446px){
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 100px;
height:auto;

}
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 120px;
height:auto;
margin-left: 10px;
}
.main-carousel-tshirt{
width:100%;
max-width:500px;
min-width:140px;
height:auto;
margin-right: -20px;

}
}
@media screen and (max-width:430px){

.carousel-block__text.switshot{
margin-left: -5px;
}
.carousel-block__text.tshirt{
margin-left: -10px;
}
}


@media screen and (max-width:416px){
.carousel-block{
height: 260px;
}
    .owl-theme .owl-dots .owl-dot span {
      width: 5px;
      height: 5px;
      margin: 5px 7px;
        background: #869791;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
        .carousel.owl-theme .owl-dots {	
		bottom:5px;
        }
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 120px;
height:auto;
}
.main-carousel-cup{
width:100%;
max-width:469px;
min-width: 170px;
height:auto;
margin-left: -20px;
}
.carousel-block__text h1{
font-size: 19px;
padding:7px ;
}
.carousel-block__text .btn-order{
font-size: 15px;
padding: 5px 10px;
margin-top: 10px;

}
.carousel-block__text .carousel-block__features{
margin-top: 10px;
}
.carousel-block__text.cup{
margin-left: 10px;
}

.carousel-block__text.switshot .carousel-block__features li{
font-size: 14px;
line-height: 35px;
}




}
@media screen and (max-width:406px){
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 120px;
height:auto;
}
.main-carousel-tshirt{
	margin-left: -10px;
}
.carousel-block__text.switshot .carousel-block__features li{
font-size: 13px;
line-height: 30px;
}


}
@media screen and (max-width:378px){
.carousel-block{
height: 260px;
}	
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 120px;
height:auto;
}
.phone-carousel{
width:100%;
max-width:80px;
height:auto;

}
.carousel-block__text{
margin-left: -5px;
}
.carousel-block__text .btn-order{
margin-top: 8px;
font-size: 14px;
letter-spacing: 3px;
padding: 5px 10px;
}
.carousel-block__text.switshot .carousel-block__features li{
font-size: 13px;
line-height: 30px;
}
.carousel-block__text.tshirt{
margin-left: -20px;
}
.carousel-block__text.switshot{
margin-left: 0px;
}


}
@media screen and (max-width:354px){
	.carousel-block{
		height: 250px;
	}	
.carousel-block__text h1{
font-size: 16px;
padding:7px ;
}
.main-carousel-cup{
	width:100%;
	max-width:469px;
	min-width: 140px;
	margin-left: -10px;
}
	.carousel-block__text .carousel-block__features li{
	font-size: 15px;
	line-height: 30px;
}
	.carousel-block__text.switshot .carousel-block__features li{
	font-size: 13px;
	line-height: 30px;
}
.carousel-block__text.cup{
	margin-left: 0px;
}
	.carousel-block__text.cup .carousel-block__features li{
	font-size: 15px;
	line-height: 30px;
}

}
@media screen and (max-width:347px){
.main-carousel-cup{
	width:100%;
	max-width:469px;
	min-width: 140px;
	margin-left: -20px;
}
}
@media screen and (max-width:320px){
.carousel-block__text.cup .carousel-block__features li{
font-size: 14px;
}
.carousel-block__text.cup{
margin-left: -10px;
}
.carousel-block__text.case h1{
	font-size: 14px;
}
.main-carousel-switshot{
width:100%;
max-width: 409px;
min-width: 110px;
height:auto;
}
.main-carousel-tshirt{
min-width:130px;
}
.main-carousel-cup{
	margin-left: -25px;
}



}


/*Your disagn*/
@media screen and (max-width:1000px){
	.play-phone{
	max-width:160px;
}
}
@media screen and (max-width:900px){
	.play-phone{
	max-width:150px;

}
}
@media screen and (max-width:800px){
	.play-phone{
	max-width:130px;

}
}
@media screen and (max-width:700px){
	.play-phone{
	max-width:110px;

}
.design .design__title h1{
	font-size: 50px;
}
}
@media screen and (max-width:600px){
	.play-phone{
	max-width:100px;

}
.design .design__title h1{
	font-size: 40px;
	line-height: 50px;
}
.design{
	width: 100%;
	padding-top:40px ;
}
}
@media screen and (max-width:500px){
	.play-phone{
	max-width:70px;

}
.design .design__title h1{
	font-size: 30px;
	line-height: 50px;
}
.design .design__content{
	width:100%;
	margin-top: 20px;}
.design .design-btn{
	color:#fff;
	font-size:26px ;
	padding: 10px 30px;
	background: #de3232;
	letter-spacing:2px;


}
}
@media screen and (max-width:400px){
	.play-phone{
	max-width:60px;

}
.design .design-btn{
	color:#fff;
	font-size:20px ;
	padding: 10px 20px;
	background: #de3232;
	letter-spacing:2px;


}
}
@media screen and (max-width:320px){
	.play-phone{
	max-width:50px;

}
.design .design__title h1{
	font-size: 25px;
	line-height: 40px;
}
}
/*Why*/




@media screen and (max-width:1035px){
.why .why__block h2{
	font-size: 25px;
}

}
@media screen and (max-width:962px){
.why__block.watch img{
	max-width:85px;
}
.why__block.car img{
	max-width:200px;
}
.why__block.star img{
	max-width:110px;
}
.why__block.magnifier img{
	max-width:114px;	
}
.why .why__block h2{
	font-size: 23px;
}
}
@media screen and (max-width:900px){
.why .why__block h2{
	font-size: 20px;
	line-height: 25px;
}
}
@media screen and (max-width:832px){


.why__block.watch img{
	max-width:75px;
}
.why__block.car img{
	max-width:180px;
}
.why__block.star img{
	max-width:100px;
}
.why__block.magnifier img{
	max-width:104px;	
}
.why .why__block h2{
	font-size: 23px;
}
.why .why__block h2{
	font-size: 19px;
	line-height: 25px;
}
}
@media screen and (max-width:611px){
	.why .why__title h1{
		font-size: 40px;
	}
	.work .work__title h1{
	font-size: 40px;
}
}
@media screen and (max-width:768px){
	.why .why__block{
		flex-basis:50%;

	}
	.why .why__title h1{
	font-size: 40px;
}
.work{
	padding-top: 0px;
}
.why{
	padding-top: 44px;
	padding-bottom: 20px;
}
.work .work__title h1{
	font-size: 40px;
	margin-bottom: 70px;
}
}
@media screen and (max-width:500px){
	.why .why__block{
		flex-basis: 100%;
	}
	.why .why__title h1{
	font-size: 30px;
	margin-bottom: 50px;
	line-height: 40px;
}

}
@media screen and (max-width:320px){
		.why .why__title h1{
		font-size: 25px;
	}
	.work .work__title h1{
	font-size: 33px;
	margin-bottom: 40px;
}
}



/*Work*/
@media screen and (max-width:426px){
.work .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
	height: 95%;
	width:30px;
}
.work .owl-carousel .owl-nav button img{
  transform: scale(0.7);
}
}
@media screen and (max-width:346px){
.work .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
	height: 93%;
	width:25px;
}
.work .owl-carousel .owl-nav button img{
  transform: scale(0.5);
}
}
/*Top*/



@media screen and (max-width:728px){
.top__menu li {
	font-size: 30px;
	display: block;
}
}

@media screen and (max-width:822px){

		.top__content .container{
	padding: 0;
	display: flex;
	flex-wrap:wrap;
}
	.top__wrapper .carousel-top.case img{
	width:100%;
	max-width:150px;
	height: auto;
}
	.top__menu{
	display: flex;
	flex-basis:100%;
	background: #000;
height: 80px;
width:100%;
position: relative;
	}
	.top__wrapper{
	flex-basis:100%;
	height:400px;
}
.top__wrapper .carousel-top{
	height:400px;
}


	.top__menu li a.active{
	border-bottom:none;
	border-top:none;
}
	.top__menu li:hover{
	transform:scale(1);
}

.slick-list.draggable{
	overflow:hidden;
}

.top__menu li{
	font-size: 35px;
	width:100%;
	background: #000;
	height: 80px;
	position: relative;
	z-index:100;

}
.top__menu li a{
	padding:0;
	color:#fff;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: inherit;
	outline:none;
	padding:0px 0;
	border-top:none;
/*	display: inline-block;
	background: blue;*/

}
.top__menu li a.active{
	border-bottom: 0;
	border-top: 0;
}
.top__menu li:active{
	border:none;
	outline: none;
}
@media screen and (max-width:582px){
	.top__menu li{
	font-size: 30px;
}
.top__menu button.left__top__arrow,.top__menu button.right__top__arrow{
	width: 200px;
	cursor:pointer;
	outline:none;
	border:none;
	background: #000;

}
.top__menu button img{
	transform:scale(0.8);
}
.top__menu button.left__top__arrow{
	border-right:2px solid #fff;
}
.top__menu button.right__top__arrow{

	border-left:2px solid #fff;

}

}

	



}
/*Footer*/
@media screen and (max-width:992px){
	.footer .information{
		text-align: center;
		
	}
	.footer .pay{
		text-align: center;
	}
	.footer .pay img{
		margin-right: 10px;
	}	
	.footer .pay img:last-child{
		margin-right: 10px;
	}	
	.footer .delivery{
		text-align: center;
	}
	.footer .social__content{
	display:flex;
	justify-content:center;
}
.footer h4{
	font-size: 18px;
	display: block;
	margin-top: 4px;
	margin-right: 15px;
}
.footer .social{

	display: flex;
	justify-content:flex-end;
/*	align-items:center;*/
	flex-direction: row;
/*	margin-right: 20px;*/
}

.footer .social__content i{
	margin-left: 15px;
	font-size: 25px;
}
.footer .social__content i:first-shild{
	margin-left: 0px;
}
.footer .delivery__content{
	text-align: center;
	margin-left: -15px;

}
}
@media screen and (max-width:768px){
	.footer .delivery{
		display: flex;
		justify-content: flex-start;
		align-items: center;

	}
	.footer .delivery h4{
		font-size: 18px;
		margin-top: 10px;
	}
	.footer .social{
		margin-top: 10px;
	}
	.footer .delivery__content{
	margin-left: 0px;

}

}
@media screen and (max-width:576px){
	.footer .support-service{
text-align: center;

}
.footer .social{
	display: flex;
	justify-content:center;
/*	align-items:center;*/
	flex-direction: row;
	margin-right: 20px;
}
.footer .delivery{
	flex-direction: column;
	justify-content: flex-end;
position: absolute;
right:16%;
top:-90px;


}
	.footer .delivery__content{
	text-align: center;
	margin-left: -15px;

}
.footer .social{
	margin-top: 40px;
}


}
@media screen and (max-width:515px){
	.sub-footer{
		font-size: 8.5px;
	}
	.sub-footer__right{
		/*text-align: center;
	}*/
}
@media screen and (max-width:376px){
	.sub-footer{
		font-size: 7.5px;
	}
}
@media screen and (max-width:349px){
	.sub-footer{
		font-size: 6.5px;
	}
	.sub-footer__right a{
	margin-right: 10px;

}	
}

@media screen and (max-width:466px){
	.footer .delivery{
right:13%;


}
}
@media screen and (max-width:424px){
	.footer .delivery{
right:12%;


}
@media screen and (max-width:320px){
	.footer .delivery{
right:10%;


}
}
