.model{
	width: 100%;
	font-family: "Bebas Neue Regular";
	font-weight: normal;
	height:60px;
	background: #1f1f1f;
}
.model .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height:100%;
}
.model-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height:100%;	
}

.model-menu li.model-link{
	margin-right: 16px;
	display: block;
	height:100%;
	position: relative;
}

.model-menu li.model-link:last-child{
	margin-right: 0px;
}
.model-menu li.model-link a.model-link-a{
	color:#fff;
	font-size: 30px;
	display: block;
	height:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 14px;
	padding-right: 14px;
	-webkit-transition:.3s;
	transition:.3s;
}
.model-menu.case li.model-link:hover a.model-link-a.white{
	color:#000;
}
.model-menu.case li.model-link:hover{
	background: #fff;
	-webkit-transition:.3s;
	transition:.3s;	
}
.model-menu.case li.model-link:hover a.model-link-a{
	color:#000;
	-webkit-transition:.3s;
	transition:.3s;	
}

/*Sub List*/
.model-menu li.model-link .sub__list{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	background:#e6e5e5;

}
.model-menu li.model-link .sub__content{
	position: absolute;
	top:100%;
	left:0;
	display: none;
	z-index:100;
}
.model-menu li.model-link:hover .sub__content{
	display:block;
}
.model-menu li .sub__list .sub__list__content{
	min-width:140px;
}
.model-menu li .sub__list .sub__list__content li{
	width:100%;
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.model-menu li .sub__list .sub__list__content li:hover{
	background: #fff;
}
.model-menu li .sub__list .sub__list__content li a{
	color:#000;
	font-size: 20px;
	padding: 0;
}
.model-menu li .sub__list .sub__list__content li a:hover{
	color:#000;
	padding: 0;
	background:transparent;
}
@media screen and (max-width:1122px){
	.model-menu li.model-link a.model-link-a{
	font-size: 25px;
	padding: 5px 14px;
}
.model{
	height:50px;
}
}
@media screen and (max-width:1011px){
.model-menu li.model-link a.model-link-a {
	font-size: 30px;
	padding: 5px 10px;
}
.model-menu li.model-link{
	margin-right: 10px;
}
.model{
	height:40px;
}
}
@media screen and (max-width:1011px){
.model.case .model-menu li.model-link a.model-link-a {
	font-size: 25px;
	padding: 5px 14px;
}
.model.case .model-menu li.model-link{
	margin-right: 0px;
}
.model.case{
	height:50px;
}
}
@media screen and (max-width:847px){
.model.case .model-menu li.model-link a.model-link-a {
	font-size: 25px;
	padding: 5px 10px;
}
.model.case .model-menu li.model-link{
	margin-right: 0px;
}
.model.case{
	height:50px;
}
}
@media screen and (max-width:768px){
.model.case{
	display: none;
}
}
@media screen and (max-width:992px){
.model-menu li .sub__list .sub__list__content li a{
	font-size: 16px;
}
.model-menu li .sub__list .sub__list__content{
	min-width:110px;
}
}