

/*Product*/

.product{
	width:100%;
	padding-top: 70px;
	font-size: 100%;

}
/*.product .container{
	border:1px solid red;
}*/
.product__text{
	margin-left: 25px;
}
.product .product__cell{
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 30px 15px;
	border:1px solid black;

}
.product.case .product__cell img{
	width:70%;
	max-width: 329px;
	height: auto;
}
.product__text .product__view{
	font-family: "Bebas Neue Bold";
	font-size: 1.125em;
	letter-spacing: 1px;
	color: #434343;
	margin-bottom: 15px;
}
 .product__text .product__title{
 	font-family: "Bebas Neue Bold";
	font-size: 3.75em;
	letter-spacing: 3.9px;
	margin-bottom: 18px;
 }
  .product__text .product__price{
  	font-family: "Bebas Neue Bold";
  	display: inline-block;
  	padding: 0.02em 0.1em;
  	color: #ffffff;
	font-size: 3em;
	letter-spacing: 3.12px;
	background: #000;
	margin-bottom: 25px;
  }
  .product__text .product__price span{
  	font-size: 0.7em;
  	padding-right: 4px;
  	margin-left: -2px;
  }
  .product__text .product__about{
  	width:100%;
  	font-family: "Bebas Neue Bold";
	color: #434343;
	line-height: 22px;
	font-size: 1.125em;
	letter-spacing: 1.17px;
	margin-bottom: 25px;
  }
/*  .product__text .product__about.product__about__case{
  	margin-bottom: 35px;
  }*/
 .product__text .product__composition{
 	font-family: "Bebas Neue Bold";
 	color: #434343;
	font-size: 1.125em;
	letter-spacing: 1.17px;
 }
 /*Метериал (чехол)*/
 .word-material{
 	font-family: "Bebas Neue Bold";
 	color: #000;
 	font-size: 1.125em;
 	letter-spacing: 1px;
 }
 .product__material .product__material__block{
 	margin-top: 18px;
 	display: flex;
 	align-items: center;

 }
  .product__material .product__material__block div{
  	font-family: "Bebas Neue Bold";
  	color:#000;
  	background: #fff;
  	border:2px solid #000;
  	padding: 0.45em 1em;  	
  	font-size: 1.5em;
  	transition:.3s;
  	cursor:pointer;
  	letter-spacing: 2px;
  }
   .product__material .product__material__block div.active{
   	background:#000;
  	color: #fff;
   } 
  .product__material .product__material__block div:first-child{
  	border-right:1px solid #000;
  }  
    .product__material .product__material__block div:last-child{
  	border-left:1px solid #000;
  } 

  .product__material .product__material__block div:hover{
  	background:#000;
  	color: #fff;
  	transition:.3s;
  }

  .product__material .product__material__block i{
  	margin-left: 25px;
  	font-size: 1.56em;

  }
  .product__material .product__material__block a{
  	font-family: "Bebas Neue Bold";
  	color: #000000;
	font-size: 0.87em;
	text-decoration: underline;
	letter-spacing: 0.78px;
	margin-left: 10px;
  }  


 /*Размеры*/
 .product__size{
 	 font-family: "Bebas Neue Bold";
 	margin-top: 15px;
 	display: flex;
 	align-items: center;
 }
 .product__size .word__size{
 	font-size: 1.62em;
	color: #000;
	letter-spacing: 1.69px;
 }
  .product__size .product__size__cell{
  	padding: 3px 6px;
  	margin-left: 16px;
  	border:1px solid #000;
  	background: #fff;
  	color:#000;
  	font-size: 1.62em;
	letter-spacing: 1.69px;
	transition:.3s;
	cursor:pointer;
  }

 .product__size .product__size__cell:hover{
 	background:#000;
 	color:#fff;
 	transition:.3s;
 }
  .product__size .product__size__cell:active{
 	background:#000;
 	color:#fff;
 	transition:.3s;
 }
  .what__size{
  	display: flex;
  	align-items: center;
  	margin-left: 10px;
  }
  .what__size i{
  	font-size: 1.56em;
  	transition:.3s;
  }  
    .what__size a{
    color: #000000;
	font-size: 0.75em;
	text-decoration: underline;
	letter-spacing: 0.78px;
	margin-left: 10px;
    }

    /*Количество*/
.product__number{
	 font-family: "Bebas Neue Bold";
	display: flex;
	align-items: center;
	margin-top: 34px;
}   
.product__number .word__number{
	color: #000;
	font-size: 1.62em;
	letter-spacing: 1.69px;
}
.product__number .main__number{
	display: flex;
	margin-left: 15px;


}
.product__number .main__number .number__block{
	height: 40px;
	width:35px;
	background: #000;
	border:1px solid #000;
	color:#fff;
	font-size: 1.125em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;

}
.product__number .main__number .number__block:nth-child(2){
	width:40px;
	background: #fff;
	color:#000;
	font-size:1.5em;
	letter-spacing: 1.17px;
	padding: 5px 10px;
}


/*Предупреждение*/
.product__warning{
	margin-top: 30px;


}
.product__warning .warning__word{
	font-family: "Bebas Neue Bold";
	text-align: center;
	color: #ea1616;
	font-size: 1.25em;
	letter-spacing: 1.3px;
	margin-bottom: 10px;
}
.product__warning .product___warning__text{
	text-align: justify;
	color: #000000;
	font-family: "Bebas Neue Bold";
	font-size: 1.125em;
	letter-spacing: 1.17px;
	line-height: 20px;
}
/*Кнопки Купить и Добавить в Корзину*/
.product__button{
	font-family: "Bebas Neue Bold";
	margin-top: 34px;
	display: flex;

}
.product__button .product__buy__btn{
	color: #ffffff;
	font-size: 2.5em;
	letter-spacing: 2.92px;
	background: #000;
/*	padding: 14px 60px;*/
padding: 0.35em 1em;
	display: flex;
	align-items: center;
}
.product__button .product__add__btn{
	color: #ffffff;
	font-size: 1.9em;
	letter-spacing: 1.7px;
	padding: 0.46em 1.1em;
	background: #000;
	margin-left: 35px;
	display: flex;
	align-items: center;
}
.product__button .product__add__btn i{
font-size:90%;
margin-bottom: 4px;
margin-left: 10px;
}

/*Отзывы*/
.reviews__main__container{
	margin-top: 100px;
}
.product__reviews{
	margin-left: 25px;
}
.product__reviews .reviews__title{
	font-family: "Bebas Neue Bold";
	color: #000000;
	font-size: 1.87em;
	letter-spacing: 1.95px;
	margin-bottom: 18px;
}
.product__reviews .reviews__comein{
	font-family: "Bebas Neue Bold";
	color: #000000;
	font-size: 1.25em;
	letter-spacing: 1.3px;
	margin-bottom: 20px;
	line-height:20px;
}
.product__reviews .reviews__comein i{
	font-size: 1.43em;
	cursor:pointer;
	margin-left: 5px;
} 
.product__reviews .reviews__evaluation{
	font-family: "Bebas Neue Bold";
	color: #000000;
	font-size: 1.25em;
	letter-spacing: 1.3px;
}
.product__reviews .reviews__evaluation span i{
	font-size: 1.4em;
	cursor:pointer;
	color:#CBCBCB;
	margin-right: 3px;
	transition:all .3s;
}
.product__reviews .reviews__evaluation span i.active{
	color:red;
	transition:all .3s;
}
.product__reviews .reviews__evaluation span{
	margin-left: 10px;
		cursor:pointer;
}
.product__reviews .reviews__input{
	width:50%;
	border:1px solid #737373;
	padding: 9px 14px;
	outline:none;
	margin-top: 20px;
	font-size: 1em;
	font-family: "Bebas Neue Regular";
	letter-spacing: 1.6px;
}
.product__reviews textarea{
	margin-top: 15px;
	width: 100%;
	height: 143px;
	min-width: 100%;
	max-width: 100%;
	min-height: 143px;
	max-height: 143px;	
	padding: 9px 14px;
	line-height: 20px;
	font-size: 1em;
	font-family: "Bebas Neue Regular";
	letter-spacing: 1.6px;
	margin-bottom: 27px;

}
.product__reviews .reviews__send{
	font-size: 1.775em;
	color:#fff;
	outline:none;
	border:none;
	background: #000;
	font-family: "Bebas Neue Regular";
	padding: 0.47em 1em;
	letter-spacing: 2.5px;
	margin-bottom: 100px;
	cursor:pointer;
	
}

/*Отзывы покупателей*/
.reviews .reviews__block{
margin-bottom: 25px;
}
.reviews .reviews__line h3{
	font-family: "Bebas Neue Bold";
	font-size: 1.43em;
	color: #e71313;
	text-decoration: underline;
	margin-right: 7px;
	letter-spacing: 1.2px;
	display: inline-block;
}
.reviews .reviews__line i{
	font-size: 1.125em;
	display:inline-block;
	color:#e71313;
}
.reviews .reviews__line i.facebook{
	margin-right: 8px;
	color:#000;
}
.reviews .reviews__about{
	width:100%;
	margin-top: 10px;
}
.reviews .reviews__about p{
	font-family: "Bebas Neue Bold";
	color: #263744;
	font-size:1.125em;
	letter-spacing: 0.5px;
	line-height:25px;
}
/*See More*/
.see__more{
	color:#fff;
	background: #000;
	font-size: 1.1em;
	letter-spacing: 1.4px;
	display: flex;
	align-items: center;
}
.see__more img{
	width:100%;
	max-width:13px;
	height:auto;
	margin-left: 7px;

}
.see__more__wrapper{
	background: #000;
	display: inline-block;
	padding: 0.5em 0.7em;

}
