.carousel-shares-case{
	width: 100%;

}

.carousel-block-share{
	width:100%;
	padding-top: 36px;
	padding-bottom: 35px;
	background: url('../img/background1.jpg') 50% 50% no-repeat;
	background-size: cover;
}
.carousel-block-share .carousel-case-content{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:flex-end;
}
/*.carousel-block-share.tshirt .carousel-case-content{
	justify-content:flex-start;
}*/

.carousel-block-share .carousel-case-content img{
	/*display: block;*/
}
.carousel-block-share i,.carousel-block-share span {
color:#000;
margin: 25px;
font-size: 25px;
display:inline-block;
}
.carousel-block-share.tshirt i,.carousel-block-share.tshirt span {
margin: -5px;
}
.carousel-block-share.switshot i {
margin: 5px;
}
.carousel-block-share.switshot span{
	margin: 0;
	margin-left: 10px;
}
.carousel-block-share.cup i {
margin:5px;
}
.carousel-block-share.cup span{
	margin: 0;
	margin-left: 10px;
}
.carousel-block-share span{
	font-size: 65px;
}
.carousel-block-share h1{
	font-family: "Bebas Neue Bold";
	font-weight: normal;
	font-size: 60px;
	color: #fff;
	padding: 5px 10px;
	background: #000;
	letter-spacing: 6px;
	text-align: center;
}
.carousel-block-share .share-block-title{
	display: flex;
	align-items: center;
}
.carousel-block-tshirt h1{
		font-size: 68px;
		letter-spacing: 4px;
}
/*Img for Carousel*/
.carousel-block-share.case img{
	width:100%;
	max-width:130px;
	height:auto;
}
.carousel-block-share.tshirt img{
	width:100%;
	max-width:250px;
	height:auto;
}
.carousel-block-share.switshot img{
	width:100%;
	max-width:241px;
	height:auto;
}
.carousel-block-share.cup img{
	width:100%;
	max-width:250px;
	height:auto;
}

@media screen and (max-width:1004px){
.carousel-block-share.case img{
	max-width:100px;
}
.carousel-block-share h1{
	font-size: 50px;
	padding: 3px 7px;
	letter-spacing: 4px;
}
}
@media screen and (max-width:900px){
.carousel-block-share.case img{
	max-width:90px;
}
.carousel-block-share h1{
	font-size: 40px;
	padding: 3px 7px;
	letter-spacing: 3px;
}
.carousel-block-share.case span{
	margin-right:0;

}
}
@media screen and (max-width:806px){
.carousel-block-share.case img{
	max-width:80px;
}
}
@media screen and (max-width:768px){
.carousel-block-share.case img{
	max-width:90px;
}
.carousel-block-share .share-block-title{
	justify-content: center;
}
.carousel-block-share .carousel-case-content{
	justify-content: center;
}
.carousel-block-share h1{
	font-size: 40px;
	padding: 3px 7px;
	letter-spacing: 2px;
	margin-top: 30px;
}
}
@media screen and (max-width:576px){
.carousel-block-share h1{
	font-size: 35px;
	padding: 3px 5px;
	letter-spacing: 2px;
}
}
@media screen and (max-width:464px){
.carousel-block-share.case img{
	max-width:80px;
}
.carousel-block-share i,.carousel-block-share span {
margin: 15px;
font-size: 20px;
}
.carousel-block-share h1{
	font-size: 30px;
	letter-spacing: 1px;
}
}
@media screen and (max-width:400px){
.carousel-block-share.case img{
	max-width:70px;
}
.carousel-block-share i,.carousel-block-share span {
margin: 12px;
font-size: 17px;
}
.carousel-block-share h1{
	font-size: 25px;
	letter-spacing: 1px;
}
}
@media screen and (max-width:330px){
.carousel-block-share.case img{
	max-width:60px;
}
.carousel-block-share i,.carousel-block-share span {
margin: 10px;
font-size: 15px;
}
.carousel-block-share h1{
	font-size: 18px;
	letter-spacing: 1.5px;
	margin-top: 15px;
}
.carousel-block-share{
	padding-top: 10px;
	padding-bottom: 10px;
}
}
@media screen and (max-width:320px){
.carousel-block-share.case img{
	max-width:55px;
}
.carousel-block-share h1{
	font-size: 17px;
	letter-spacing: 1px;
	padding: 2px 5px;
	margin-top: 10px;
}
}
@media screen and (max-width:275px){
.carousel-block-share h1{
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 10px;
}
}
