
/*Отдельно для панели Свитшоты, Футболки....*/


.model-menu li.model-link a.model-link-a{
	color:#fff;
	font-size: 30px;
	height:70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 14px;
	padding-right: 14px;
	-webkit-transition:.3s;
	transition:.3s;
}
.model-menu li.model-link{
	margin-right: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height:100%;
	position: relative;
}
.model-menu li.model-link a.model-link-a.white{
	font-family: "Bebas Neue Bold";
	font-weight: normal;
	color:#000;
	background: #fff;
}
.model-menu li.model-link:hover a.model-link-a{
	color:#000;
	background: #fff;
	-webkit-transition:.3s;
	transition:.3s;
}
@media screen and (max-width:1104px){
.product__case.tshirt .product__main{
	width:90%;
}
.product__case.tshirt .product__case__block  img{
max-width:230px;
}
}
@media screen and (max-width:960px){
.product__case.tshirt .product__main{
	width:95%;
}
.product__case.tshirt .product__case__block  img{
max-width:230px;
}
}
@media screen and (max-width:900px){
.product__case.tshirt .product__main{
	width:95%;
}
.product__case.tshirt .product__case__block  img{
max-width:210px;
}
}
@media screen and (max-width:840px){
.product__case.tshirt .product__main{
	width:95%;
}
.product__case.tshirt .product__case__block  img{
max-width:200px;
}
}
@media screen and (max-width:788px){
.product__case.tshirt .product__main{
	width:100%;
}
.product__case.tshirt .product__case__block  img{
max-width:200px;
}
}
@media screen and (max-width:767px){
.product__case.tshirt .product__main{
	width:80%;
}
.product__case.tshirt .product__case__block  img{
max-width:220px;
}
}
@media screen and (max-width:720px){
.product__case.tshirt .product__main{
	width:90%;
}
}
@media screen and (max-width:640px){
.product__case.tshirt .product__main{
	width:90%;
}
.product__case.tshirt .product__case__block  img{
max-width:200px;
}
}


@media screen and (max-width:575px){
.product__case.tshirt .product__main{
	width:60%;
} 

.product__case.tshirt .product__case__block  img{
width:100%;
max-width:220px;
height:auto;
}
}
@media screen and (max-width:500px){
.product__case.tshirt .product__case__block  img{
max-width:200px;
}
}

@media screen and (max-width:400px){
.product__case.tshirt .product__main{
	width:70%;
} 
}
@media screen and (max-width:360px)
{
.product__case.tshirt .product__main{
	width:80%;
} 
}
@media screen and (max-width:330px){
.product__case.tshirt .product__case__block  img{
max-width:190px;
}
}
@media screen and (max-width:320px){
.product__case.tshirt .product__case__block  img{
max-width:170px;
}
}
@media screen and (max-width:300px){
.product__case.tshirt .product__main{
	width:80%;
} 
}
@media screen and (max-width:280px){
.product__case.tshirt .product__main{
	width:90%;
} 
.product__case.tshirt .product__case__block  img{
max-width:160px;
}

}

@media screen and (max-width:1011px){
.model-menu li.model-link a.model-link-a {
	font-size: 20px;
	padding: 0px 14px;
}
.model-menu li.model-link{
	margin-right: 16px;
}
.model{
	height:60px;
}
}
@media screen and (max-width:992px){
.model{
	height:50px;
}
.model-menu li.model-link a.model-link-a {
	font-size: 25px;
	padding: 0px 10px;
}
.model-menu li.model-link{
	margin-right: 16px;
}

}
@media screen and (max-width:768px){
.model{
	height:40px;
}
.model-menu li.model-link a.model-link-a {
	font-size: 20px;
	padding: 0px 10px;
}
.model-menu li.model-link{
	margin-right: 10px;
}

}
@media screen and (max-width:332px){
.model{
	height:40px;
}
.model-menu li.model-link a.model-link-a {
	font-size: 18px;
	padding: 0px 8px;
}
.model-menu li.model-link{
	margin-right: 8px;
}

}
@media screen and (max-width:332px){
.model{
	height:35px;
}
.model-menu li.model-link a.model-link-a {
	font-size: 17px;
	padding: 0px 5px;
}
.model-menu li.model-link{
	margin-right: 10px;
}

}
@media screen and (max-width:273px){
.model{
	height:30px;
}
.model-menu li.model-link a.model-link-a {
	font-size: 16px;
	padding: 0px 5px;
}
.model-menu li.model-link{
	margin-right: 6px;
}

}