@media screen and (max-width: 480px) {
	.ui-paragraph__header > .ui-select {
		padding: 0;
		display: inline;
		white-space: normal;
	}

	.ui-paragraph__header > .ui-select:after {
		display: none;
	}

	.ui-message-row .form-control-wrapper {
		padding-right: 0;
	}
}

.buttons .ui-textarea-toolbar__btn {
	min-width: 60px;
}

.integration .crm li.active {
	border-color: #4680fe;
}